# OPENAI_API_KEY='sk-97de7d0264ca420784f64ba726a4cedb'
# OPENAI_BASE_URL='https://api.deepseek.com/v1'
# MODEL_ID='deepseek-chat'
PORT=8080

OPENAI_BASE_URL='https://token-plan-cn.xiaomimimo.com/v1'
MODEL_ID='mimo-v2.5-pro'
OPENAI_API_KEY='tp-chg6c131cm8l4nef1s8cfhs5w19nd8ttfgzhnccbjl7doxpt'