# OPENAI_API_KEY='sk-97de7d0264ca420784f64ba726a4cedb'
# OPENAI_BASE_URL='https://api.deepseek.com/v1'
# MODEL_ID='deepseek-chat'
PORT=8080

OPENAI_BASE_URL='https://token-plan-cn.xiaomimimo.com/v1'
MODEL_ID='mimo-v2.5-pro'
OPENAI_API_KEY='tp-c488lufrs0e4ahlvghwa0cwbage6y1k8a3ct8jodkrf0f0jb'